

h1{
    background-color: thistle;
    color: violet;
}

button{
    background-color: yellow;
    color: rgb(12, 243, 62);
}


.box0{
   /* background-image: url(bj2.jpg);
    background-position: center;
    /*background-size: contain;*/
    background: yellowgreen;
    background-size: 100% auto;
    background-repeat: no-repeat;
}


