

h1{
    background-color: aqua;
    color:yellow;
}
h1 x{
    color: rgb(76, 0, 255);
}
h1 y{
    color: violet;
}

.box0{
    background-image: url(bj2.jpg);
    background-position: center;
    /*background-size: contain;*/
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.box1{
    margin: 10;
    width: 1000px;
    height: 80px;
    border: 2px solid;
    padding: 10;
}


