

h1{
    
    color: violet;
    text-align: center;
}


div{
    font-size: 64px;
    font-family: 'Times New Roman', Times, serif;
    border:2px solid;
    border-radius:8px;
    color:red;
    text-align:center
    
}

button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 100%;
  }
  
  button:hover {background-color: #3e8e41}
  
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  y{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 97%;
  }

  y:hover {background-color: #3e8e41}
  
  y:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


  p{
    text-align:right;
    }


.box0{
   /* background-image: url(bj2.jpg);
    background-position: center;
    /*background-size: contain;*/
    background: yellowgreen;
    background-size: 100% auto;
    background-repeat: no-repeat;
}


